<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a [routerLink]="['/']" class="navbar-brand">The world of recipes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/recipes']" class="nav-link">Recipes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/shopping-list']" class="nav-link">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item dropdown" appShowDroupdown>
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle active" data-toggle="dropdown"
           id="navbarDropdown" role="button" style="cursor: pointer">
          Data
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a (click)="onFetchData()" class="dropdown-item" style="cursor: pointer">Fetch Data</a>
          <a (click)="onUploadData()" class="dropdown-item" style="cursor: pointer">Upload Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
