<div class="row" *ngIf="recipe">
  <div class="col-12">
    <div class="dropdown open float-right">
      <button class="btn btn-primary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <button class="dropdown-item">To shoping list</button>
        <button class="dropdown-item">Edit recipe</button>
        <button class="dropdown-item">Delete recipe</button>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="recipe">
  <div class="col-12">
    <h1 class="text-center">{{recipe.name}}</h1>
  </div>
</div>
<div class="row" *ngIf="recipe">
  <div class="col-12 text-center mt-3 mx-1">
    <img src="{{recipe.imageUrl}}"
         class="card-img mx-auto d-block" alt="...">
  </div>
</div>
<div class="row" *ngIf="recipe">
  <div class="col-12 text-center mt-3 mx-1">
    <p> {{recipe.description}}</p>
  </div>
</div>
<div class="row" *ngIf="recipe">
  <div class="col-12 text-center mt-3 mx-1">
    <p>Ingredient</p>
  </div>
</div>

