<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <a href="#" *ngFor="let receipe of recepices" class="col-xs-12 text-decoration-none text-dark">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
              <img [src]="receipe.imageUrl"
                   class="card-img mx-auto d-block" alt="...">
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
<!--            <a href="#" class="card-title h4" [innerText]="receipe.name"></a>-->
            <h4 class="card-title" [innerText]="receipe.name"></h4>
            <p class="card-text" [innerText]="receipe.description"></p>
          </div>
        </div>
      </div>
    </div>

    <!--    <app-recipe-item></app-recipe-item>-->
  </a>
</div>
