<div class="row">
  <div class="col-xs-12">
    <button (click)="addNewRecipe()" class="btn btn-success m-3">New Recipe</button>
  </div>
</div>
<div class="row">
  <app-recipe-item *ngFor="let recipe of recipes;let i = index" [recipeIndex]="i" [recipeItem]="recipe">
  </app-recipe-item>
  <div *ngIf="isLoading" class="col-12">
    <div class="text-center">
      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading && recipes.length===0" class="col-12">
    <h4>No data available ,please fetch some new </h4>
  </div>

</div>
